*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: rgb(132, 132, 132);
    bottom: 0;
    height: 50px;
    line-height: 40px;
}
header{
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: rgb(132, 132, 132);
    height: 50px;
    line-height: 50px;
}
.Buttons{
    position: fixed;
    top: 10%;
    margin: 10px 0px 0px 10px;
    background-color: rgb(132, 132, 132);
    padding: 10px;
    
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}
