* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: rgb(141, 141, 141);
}

.elementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 5vh;
    border-radius: 10px;
    border: black solid;
    background-color: rgb(66, 66, 66);
}

#circle {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 255, 195);
    border-radius: 50%;
    border: black solid;
}

button {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    background-color: rgb(138, 255, 195);
    border-radius: 10px;
    padding: 10px;
    border: black solid;
}

h2 {
    width: 257.34px;
    text-align: center;
}